h1,h2,h3,h4 {
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.jumbotron{
	background-color:#20315a;
	color:white;
	text-align: center;
}
.panel-heading{
	background-color: #2c3e50 !important;
	border-color: #2c3e50 !important;
	border-width: 2px;
	color:white !important;
	letter-spacing: 1px;
	/*background-color: #2c3e50;
	border-color: #2c3e50 ;
	color:white ;
*/
}
i{
	margin-right: 2px;
	/*margin-bottom:4px;*/
}

.panel-default{
	border-color: #2c3e50 !important;
}

#articleResults{
	color:#2c3e50;
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#articleResults span{
	background-color:#2c3e50;
}
#articleResults a{
	color: #18bc9c;
}

.panel-body a {
    word-break: break-all;
  }